<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Favicon Link-->
    <link rel="shortcut icon" href="/img/lego-face-color-favicon.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Semantic UI Styles-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">
    <!--Local Style-->
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!--Google Font-->

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!--Semantic UI Script-->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>
    <!--Local Script-->
    <script src="/js/app.js"></script>
    <title>Web Scraper</title>
</head>


