{{> header}}

<body id="error-background">

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            
            <h1>Our Heads are Rolling over this Error.</h1>
            
        </div>
    </div>

    {{> footer}}