{{> header}}

<body id="index-background">

    <div class="ui middle aligned center aligned grid container">


        <div class="column">
            <div class="ui stackable one cards">

                <div id="logo-card" class="ui centered large card">
                    <div class="image">
                        <img src="/img/brick-nerd-web-scraper-logo.png">
                    </div>
                    <div class="extra content">
                        <div class="ui two item inverted menu">
                            <a id="button-links" class="red item" href="/articles">Articles</a>
                            <a id="button-links" class="blue item" href="/savedarticles">Saved Articles</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>



    {{> footer}}