{{> header}}

<body id="scrape-background">

    <div class="ui middle aligned center aligned grid container">
        <div class="column">

            <h1>New Articles on the Way!</h1>
            <div class="two ui buttons">
                <button class="ui button">
                    <a id="button-links" href="/articles">Articles</a>
                </button>
                <button class="ui button">
                    <a id="button-links" href="/savedarticles">Saved Articles</a>
                </button>
            </div>
        </div>
    </div>



    {{> footer}}