/*=========Google Fonts =============*/

/*===== Headers =======*/
/* font-family: 'Bevan', cursive; */
/*===== Content ======*/
/* font-family: 'Montserrat',
sans-serif; */


/*================= Backgrounds for Pages ===================*/

#index-background {
    background-image: url("/img/lego-minifigs-on-beam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#article-background {
    background-image: url("/img/lego-patent-black.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#scrape-background {
    background-image: url("/img/gray-lego-plate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#saved-background {
    background-image: url("/img/lego-minifig-blueprint-bw.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#error-background {
    background-image: url("/img/warning-lego-heads.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*=============== End Backgrounds for Pages ===================*/

#header {
    color: ghostwhite;
    font-family: 'Bevan', cursive;
    background: rgba(86, 204, 8, 0.438);
    padding: 25px;
}

#button-links {
    color: ghostwhite;
}

#logo-card {
    /* background: rgba(204, 201, 8, 0.616); */
    background: rgba(86, 204, 8, 0.616);
}

/*====================Styles for articles.hbs========================*/

/*Reveal Cards for Scrape Information*/

#link-title {
    color: ghostwhite;
    font-family: 'Alfa Slab One', cursive;
}

#card-date {
    text-align: center;
}

#article-summary {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
}

p {
    color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
}

#article-item{
    background: rgba(128, 5, 5, 0.616);
}

.ui.items>.item .extra>[class*="right floated"] {
    margin-right: .75rem;
}

/*==================End Styles for articles.hbs=====================*/

body>.grid {
    height: 100%;
}

#lego-head {
    width: 400px;
    height: 400px;
}