/*================= Backgrounds for Pages ===================*/

#index-background {
    background-image: url("/img/lego-minifigs-on-beam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#article-background {
    background-image: url("/img/lego-patent-bw.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#scrape-background {
    background-image: url("/img/gray-lego-plate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#saved-background {
    background-image: url("/img/lego-minifig-blueprint-bw.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#error-background {
    background-image: url("/img/warning-lego-heads.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*=============== End Backgrounds for Pages ===================*/

#header {
    color: ghostwhite;
}

#button-links {
    color: ghostwhite;
}

#logo-card {
    background: rgba(18, 67, 230, 0.438);
}

/*====================Styles for articles.hbs========================*/

/*Reveal Cards for Scrape Information*/
#article-summary {
    padding: 20px;
}

/*==================End Styles for articles.hbs=====================*/

body > .grid {
    height: 100%;
  }

  #lego-head {
      width: 400px;
      height: 400px;
  }